#news{
    margin-bottom: 97px;
    .row{
        .main_item{
            .item{
                border: 1.5px solid #a5b1c2;
                border-radius: 10px;
                padding: 25px 15px;
                overflow: hidden;

                .date{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0;

                    .admin_text{
                        width: 72px;
                        height: 27px;
                        display: flex;

                        i{
                            line-height: 27px;
                            font-size: 16px;
                            color: #5D5D5D;
                        }
                        p{
                            line-height: 27px;
                            color: #5D5D5D;
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                    .date_text{
                        width: 110px;
                        height: 27px;
                        display: flex;

                        i{
                            line-height: 27px; 
                            font-size: 16px;
                            color: #5D5D5D;
                        }
                        
                        p{
                            line-height: 27px; 
                            color: #5D5D5D;
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                }
                .text01{
                    width: 271px;

                    h5{
                        color: #181818;
                        font-family: 'Inter', sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }
                .text02{
                    width: 300px;

                    p{
                        color: #5D5D5D;
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
                a{
                    color: #5956E8;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                }
            }
        }
    }
}